$cell-padding: 10px;
$cell-padding-mobile: 5px;

.feedback-list-row {
  display: flex;
  flex-direction: row;
  height: 70px;
  border-bottom: 1px solid #dedede;
  align-items: center;
  font-size: 16px;

  &__column {
    text-align: center;
    padding: $cell-padding;
  }

  &__column-rating {
    width: 50px;
  }

  &__column-comment {
    text-align: left;
    flex-grow: 1;
    overflow: auto;
    max-height: calc(100% - 2 * #{$cell-padding});
  }

  &__column-browser {
    min-width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
  }

  &__column-device-type {
    min-width: 100px;
    max-width: 100px;
  }

  &__column-platform {
    min-width: 100px;
    max-width: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .feedback-list-row {
    height: 50px;
    font-size: 12px;

    &__column {
      padding: $cell-padding-mobile;
    }

    &__column-comment {
      max-height: calc(100% - 2 * #{$cell-padding-mobile});
    }

    &__column-browser {
      min-width: 50px;
      max-width: 80px;
    }

    &__column-device-type {
      min-width: 60px;
      max-width: 80px;
    }

    &__column-platform {
      min-width: 60px;
      max-width: 80px;
    }
  }
}
