$item-size: 40px;
$item-size-mobile: 20px;

.rating-list-item {
  width: $item-size;
  height: $item-size;
  border-radius: $item-size;
  background-color: #069fc1;
  color: #ffffff;
  font-size: 16pt;

  > span {
    vertical-align: middle;
    line-height: $item-size;
  }
}

@media only screen and (max-width: 480px) {
  .rating-list-item {
    width: $item-size-mobile;
    height: $item-size-mobile;
    border-radius: $item-size-mobile;
    font-size: 12pt;

    > span {
      line-height: $item-size-mobile;
    }
  }
}
